/* CSS BY Robert Caran */
/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');
/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ROOT VARIABLES */
:root {
    --Teal :#4CA7C0;
    --Purple: #484FB7;
    --Lavender: #6B8FE7;
    --Yellow: #E9BB57; 
    --Pink:#D9526F;
    --Dark-gray:#1E1E1E; 
    --White:#ffffff; 
}

/* GLOBAL STYLES (mobile first/small) */

body {
    font-family: "Inter", sans-serif;
    background-color: var(--Purple);
}

header {
    text-align: center;
}

h1, h2 {
    font-family: "Kavoon", cursive;
    color: var(--White);
    font-size: 2.5em;
    margin-bottom: 5px;
    line-height: 1.2;
}

#tagline {
   color: var(--White);
   font-style: italic;
   margin-bottom: 40px;
}

h1 {
    font-size: 3em;
}

nav {
    color: var(--Purple);
    margin-bottom: 10px;
    padding: 15px;
    background-color: var(--Yellow);
}

nav li {
    background-color: var(--White);
    padding: 10px;
    margin-bottom: 10px;
}

nav a {
    color: var(--Purple);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1rem;
}

nav, h2 {
    font-size: 1em;
    font-weight: 700;
}

nav h2 {
    font-family: 'Inter';
    text-transform: uppercase;
    font-style: italic;
    color: var(--Dark-gray);
}

h2 {
    font-size: 2em;
    color: var(--White);
}

h3 {
    font-size: 1.5em;
    color: var(--Yellow);
    font-weight: bold;
}

h4 {
    font-size: 1.15em ;
}

table {
    width: 60%;
    margin: 20px auto;
    border-spacing: 0;
    border: 2px solid var(--Yellow);
}

th {
    background-color: var(--Yellow);
    color: var(--Dark-gray);
    padding: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

td {
    background-color: var(--White);
    padding: 15px;
    text-align: center;
    border-top: 2px solid var(--Yellow);
    border-left: 2px solid var(--Yellow);
}

footer {
    display: flex;
    justify-content: center;
    gap: 40px;    
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: var(--White);
}

footer a {
    color: var(--White);
}

#services {
    padding: 40px 20px;
}

#services h4 {
    font-weight: bold;
    color: var(--Purple);
    margin-bottom: 10px;
}

#services p {
    line-height: 1.3rem;
}

.card {
    margin: 20px 0px;
    background-color: var(--White);
    padding: 40px 20px;
    border-radius: 10px;
}

.card img {
    margin-bottom: 20px;
}

#why-choose-us {
    padding: 20px;
    background-color: var(--Pink);
    font-weight: bold;   
}

#why-choose-us > ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: bold;
}

#why-choose-us > ul > li {
    padding: 40px 40px;
    margin: 10px 10px;
    border-radius: 10px;
    font-size: 1.2rem;
}

#why-choose-us > ul > li:nth-child(1) { background-color: var(--Teal); }
#why-choose-us > ul > li:nth-child(2) { background-color: var(--Lavender); }
#why-choose-us > ul > li:nth-child(3) { background-color: var(--Yellow); }
#why-choose-us > ul > li:nth-child(4) { background-color: var(--White); }


#take-the-first-step {
    background-color: var(--Pink);
    padding: 40px 20px;
}

#take-the-first-step p{
    color: var(--White);
}

#take-the-first-step a {
    display: block;
    width: fit-content;
    margin: 25px auto 0;
    background-color: var(--White);
    color: var(--Dark-gray);
    text-decoration: none;
    padding: 20px 100px;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 6px 6px 0 var(--Dark-gray);
}

#pricing {
    padding: 40px 20px;
}